
<div class="login-form">
<h1>New Review</h1>

<<<<<<< HEAD
  <%= render 'form', review: @review, url: "/movies/#{@movie.id}/reviews" %>
=======
<%= render 'form', review: @review, url: "/movies/#{@movie.id}/reviews" %>
>>>>>>> dce1bece170f57438d18dd72888e30dc2d6f560f

<%= link_to 'Back', movie_path(@movie) %>
</div>